# будет игнорироваться каталог tmp
tmp/

# будут игнорироваться все файлы с суффиксами _old
*.*_old

# будут игнорироваться все файлы с суффиксами _backup
*.*_backup

# будет игнорироваться файл Thumbs.db
Thumbs.db

# будет игнорироваться файл .DS_Store
.DS_Store